<% var data={ title: 'Weather' , date: '10-07-2021' , location: 'Zhytomyr' ,
  weatherIconSmall: './assets/icons/rain.svg alt="fog"' ,
  weatherIconLarge: './assets/icons/thunderstorm.svg alt="thunderstorm"' , temperature: '28' , feelTemperature: '30' ,
  humidity: '50' , airPressure: '1009.545' , rain: '50' , windSpeed: '1.4' , nameWeather: 'thunderstorm' ,
  unitsMeasurementTemperature: '°C' , unitsMeasurementSpeed: 'km/h' , }; %>

  <%= _.template(require('./../includes/header.html'))(data) %>

    <div class="content">
      <div class="container">
        <div class="app__wrapper">
          <div class="app__top">
            <div class="app__cart app__cart-detail">
              <div class="app__cart-inner">
                <div class="app__cart-info">
                  <div class="app__cart-current-time">
                  </div>
                  <div class="app__cart-ico">
                  </div>
                  <div class="app__cart-weather">
                  </div>
                  <div class="app__cart-location-current">
                  </div>
                </div>

                <div class="app__cart-number-wrapper">
                  <div class="app__cart-number">
                    <span class="app__cart-number-item">
                    </span>
                    <span class="app__cart-number-measurement">
                      °C
                    </span>
                  </div>
                </div>
                <div class="app__cart-location-change">
                  <div class="app__cart-location-change-button">
                    <div class="app__cart-location-change-ico">
                      <img src="./assets/icons/location.svg" alt="location" />
                    </div>
                    <form action="#">
                      <input class="app__cart-location-change-text" placeholder="Change location" />
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="app__weather-info">
              <div class="app__weather-ico">
                <img src=<%=data.weatherIconLarge%>/>
              </div>
              <div class="app__weather-title">
                THUNDERSTORM
              </div>
            </div>

            <div class="app__cart app__cart-detail app__cart-detail-info">
              <div class="app__cart-item">
                <div class="app__cart-item-ico">
                  <img src="./assets/icons/humidity.svg" alt="humidity" />
                </div>
                <div class="app__cart-item-text">
                  <div class="app__cart-item-name">Humidity</div>
                  <div class="app__cart-item-number" data-humidity>
                    <%=data.humidity%>%
                  </div>
                </div>
              </div>
              <div class="app__cart-item">
                <div class="app__cart-item-ico">
                  <img src="./assets/icons/airPressure.svg" alt="airPressure" />
                </div>
                <div class="app__cart-item-text">
                  <div class="app__cart-item-name">Air Pressure</div>
                  <div class="app__cart-item-number"  data-air-pressure>
                    <%=data.airPressure%>PS
                  </div>
                </div>
              </div>
              <div class="app__cart-item">
                <div class="app__cart-item-ico">
                  <img src="./assets/icons/rain.svg" alt="rain" />
                </div>
                <div class="app__cart-item-text">
                  <div class="app__cart-item-name">Chance of Rain</div>
                  <div class="app__cart-item-number"  data-rain-chance>
                    <%=data.rain%>%
                  </div>
                </div>
              </div>
              <div class="app__cart-item">
                <div class="app__cart-item-ico">
                  <img src="./assets/icons/wind.svg" alt="wind" />
                </div>
                <div class="app__cart-item-text">
                  <div class="app__cart-item-name">Wind Speed</div>
                  <div class="app__cart-item-number"  data-speed-wind>
                    <%=data.windSpeed%>
                    <div class="app__cart-item-measurement">
                      <%=data.unitsMeasurementSpeed%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="app__bottom">
            <div class="app__bottom-inner">


            </div>
          </div>
        </div>
      </div>
    </div>

    <%= _.template(require('./../includes/footer.html'))(data) %>